---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.0/tags?key=<STACKAPPS_API_KEY>&pagesize=99&site=stackoverflow&sort=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":662516,"name":"java"},{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":658313,"name":"c#"},{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":639366,"name":"javascript"},{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":598277,"name":"php"},{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":526525,"name":"android"},{"has_synonyms":true,"is_moderator_only":false,"is_required":false,"count":496967,"name":"jquery"}[...]
