{"http_interactions":[{"request":{"method":"get","uri":"https://api.stackexchange.com/2.0/tags?key=<STACKAPPS_API_KEY>&pagesize=99&site=stackoverflow&sort=popular","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"﻿{\"items\":[{\"has_synonyms\":true,\"is_moderator_only\":false,\"is_required\":false,\"count\":668745,\"name\":\"java\"},{\"has_synonyms\":true,\"is_moderator_only\":false,\"is_required\":false,\"count\":663368,\"name\":\"c#\"},{\"has_synonyms\":true,\"is_moderator_only\":false,\"is_required\":false,\"count\":646681,\"name\":\"javascript\"},{\"has_synonyms\":true,\"is_moderator_only\":false,\"is_required\":false,\"count\":603586,\"name\":\"php\"},{\"has_synonyms\":true,\"is_moderator_only\":false,\"is_required\":false,\"count\":531889,\"name\":\"android\"},{\"has_synonyms\":true,\"is_moderator_only\":fal[...]
{"request":{"method":"get","uri":"https://api.stackexchange.com/2.0/questions?filter=withbody&key=<STACKAPPS_API_KEY>&pagesize=11&site=stackoverflow&sort=votes","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"﻿{\"items\":[{\"tags\":[\"java\",\"c++\",\"performance\",\"optimization\",\"branch-prediction\"],\"owner\":{\"reputation\":153171,\"user_id\":87234,\"user_type\":\"registered\",\"accept_rate\":94,\"profile_image\":\"http://i.stack.imgur.com/FkjBe.png?s=128&g=1\",\"display_name\":\"GManNickG\",\"link\":\"http://stackoverflow.com/users/87234/gmannickg\"},\"is_answered\":true,\"view_count\":449305,\"protected_date\":1399067470,\"accepted_answer_id\":11227902,\"answer_count\":9,\"score\":8132,\"last_activity_date\":1404195421,\"creation_date\":1340805096,\"last_edit_date\":1390885119,\"question_id\":11227809,\"link\":\"http://stackoverflow.com/questions/11227809/why-is-processing-a-sorted-array-faster-than-an-unsorted-array\",\"title\":\"Why is processing a sorted array faster than an unsorted array?\",\"body\":\"<p>Here is a piece of C++ code that seems very peculiar. For some strange reason, sorting the data miraculously makes the code almost six times faster:</p>\\n\\n<pre class=\\\"lang-cpp prettyprint-override\\\"><code>#include &lt;algorithm&gt;\\n#include &lt;ctime&gt;\\n#include &lt;iostream&gt;\\n\\nint main()\\n{\\n    // Generate data\\n    const unsigned arraySize = 32768;\\n    int data[arraySize];\\n\\n    for (unsigned c = 0; c &lt; arraySize; ++c)\\n        data[c] = std::rand() % 256;\\n\\n    // !!! With this, the next loop runs faster\\n    std::sort(data, data + arraySize);\\n\\n    // Test\\n    clock_t start = clock();\\n    long long sum = 0;\\n\\n    for (unsigned i = 0; i &lt; 100000; ++i)\\n    {\\n        // Primary loop\\n        for (unsigned c = 0; c &lt; arraySize; ++c)\\n        {\\n            if (data[c] &gt;= 128)\\n                sum += data[c];\\n        }\\n    }\\n\\n    double elapsedTime = static_cast&lt;double&gt;(clock() - start) / CLOCKS_PER_SEC;\\n\\n    std::cout &lt;&lt; elapsedTime &lt;&lt; std::endl;\\n    std::cout &lt;&lt; \\\"sum = \\\" &lt;&lt; sum &lt;&lt; std::endl;\\n}\\n</code></pre>\\n\\n<ul>\\n<li>Without <code>std::sort(data, data + arraySize);</code>, the code runs in <strong>11.54</strong> seconds.</li>\\n<li>With the sorted data, the code runs in <strong>1.93</strong> seconds.</li>\\n</ul>\\n\\n<hr>\\n\\n<p>Initially, I thought this might be just a language or compiler anomaly. So I tried it in Java:</p>\\n\\n<pre class=\\\"lang-java prettyprint-override\\\"><code>import java.util.Arrays;\\nimport java.util.Random;\\n\\npublic class Main\\n{\\n    public static void main(String[] args)\\n    {\\n        // Generate data\\n        int arraySize = 32768;\\n        int data[] = new int[arraySize];\\n\\n        Random rnd = new Random(0);\\n        for (int c = 0; c &lt; arraySize; ++c)\\n    [...]
{"request":{"method":"get","uri":"https://api.stackexchange.com/2.0/answers/11227902?filter=withbody&key=<STACKAPPS_API_KEY>&site=stackoverflow","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"﻿{\"items\":[{\"owner\":{\"reputation\":163560,\"user_id\":922184,\"user_type\":\"registered\",\"profile_image\":\"http://i.stack.imgur.com/Wv6qh.jpg?s=128&g=1\",\"display_name\":\"Mysticial\",\"link\":\"http://stackoverflow.com/users/922184/mysticial\"},\"is_accepted\":true,\"score\":12325,\"last_activity_date\":1395003281,\"last_edit_date\":1395003281,\"creation_date\":1340805402,\"answer_id\":11227902,\"question_id\":11227809,\"body\":\"<p><strong>You are the victim of <a href=\\\"//en.wikipedia.org/wiki/Branch_predictor\\\">branch prediction</a> fail.</strong></p>\\n\\n<hr>\\n\\n<h2>What is Branch Prediction?</h2>\\n\\n<p>Consider a railroad junction:</p>\\n\\n<p><a href=\\\"//commons.wikimedia.org/wiki/File%3aEntroncamento_do_Transpraia.JPG\\\"><img src=\\\"//i.stack.imgur.com/muxnt.jpg\\\" alt=\\\"\\\"></a>\\n<sub><a href=\\\"//commons.wikimedia.org/wiki/File%3aEntroncamento_do_Transpraia.JPG\\\">Image</a> by Mecanismo, via Wikimedia Commons. Used under the <a href=\\\"//creativecommons.org/licenses/by-sa/3.0/deed.en\\\">CC-By-SA 3.0</a> license.</sub></p>\\n\\n<p>Now for the sake of argument, suppose this is back in the 1800s - before long distance or radio communication.</p>\\n\\n<p>You are the operator of a junction and you hear a train coming. You have no idea which way it will go. You stop the train to ask the captain which direction he wants. And then you set the switch appropriately.</p>\\n\\n<p><em>Trains are heavy and have a lot of inertia. So they take forever to start up and slow down.</em></p>\\n\\n<p>Is there a better way? You guess which direction the train will go!</p>\\n\\n<ul>\\n<li>If you guessed right, it continues on.</li>\\n<li>If you guessed wrong, the captain will stop, back up, and yell at you to flip the switch. Then it can restart down the other path.</li>\\n</ul>\\n\\n<p><strong>If you guess right every time</strong>, the train will never have to stop.<br>\\n<strong>If you guess wrong too often</strong>, the train will spend a lot of time stopping, backing up, and restarting.</p>\\n\\n<hr>\\n\\n<p><strong>Consider an if-statement:</strong> At the processor level, it is a branch instruction:</p>\\n\\n<p><img src=\\\"//i.stack.imgur.com/pyfwC.png\\\" alt=\\\"enter image description here\\\"></p>\\n\\n<p>You are a processor and you see a branch. You have no idea which way it will go. What do you do? You halt execution and wait until the previous ins[...]
