/*.hero {*/
  /*padding: 30px;*/
  /*margin-bottom: 30px;*/
  /*background-color: #e6e6e6;*/
  /*p {*/
    /*margin-bottom: 15px;*/
    /*font-size: 23px;*/
    /*font-weight: 200;*/
  /*}*/
/*}*/

.plain {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  /*p {*/
    /*margin-bottom: 15px;*/
    /*font-size: 23px;*/
    /*font-weight: 200;*/
  /*}*/
}

.footer {
  padding: 30px;
  text-align: center;
}
