.topstack-brand-image {
  /*background-image: url('/favicon.png');*/
  content:url(/favicon.png);
  /*width: 50px;*/
  height: 30px;
}
.topstack-brand-text {
  vertical-align: top;
}
.topstack-brand-beta {
  position: relative;
  font-size: 50%;
  color: red;
  top: -11px;
}
